			<div id="templatemo_header">
				<div id="site_title"><h1><a rel="nofollow" href="http://www.templatemo.com">Free CSS Templates</a></h1></div>
				<div id="twitter"><a rel="nofollow" href="http://www.facebook.com/templatemo"></a></div>
				<div id="templatemo_menu">
					<ul>
						<li><a href="index.php" class="current">Home</a></li>
						<li><a href="countries.php">Countries</a></li>
						<li><a href="mail.php">Mail</a></li>
						<li><a href="tools.php">Tools</a></li>
						<li class="last"><a href="logout.php">Logout</a></li>
					</ul>    	
				</div> <!-- end of templatemo_menu -->
			</div> <!-- end of header -->